[
  {rabbit, [
    {hipe_compile, true},
    {loopback_users, []},
    {default_user, <<"guest">>},
    {vm_memory_high_watermark, 100},
    {disk_free_limit, {mem_relative, 1.0}},
    {default_pass, <<"guest">>}
  ]},
  {kernel, [
    {inet_dist_listen_max, 9105},
    {inet_dist_listen_min, 9100}
  ]},
  {rabbitmq_management,       [ {load_definitions, "/vagrant/rabbitmq/rabbitmq-config.json"} ] }
].